<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pneumonia Detection</title>
	 <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/vegas.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/main.css">
</head>
<body style="background-color: black; color: white;">
	<div class="container">
		<div class="row">
			<h1>About the Project</h1><br>
			 <p>A Deep Learning powered system that helps in the prediction of Pneumonia with an accuracy of <span style="font-size: 16px; color:white;">90.529% test accuracy</span>only. The system compares X-Ray images of human lungs to help predict the disease with the application of Swagger API.<br>Pneumonia is lung inflammation caused by infection with virus, bacteria, fungi or other pathogens. According to National Institutes of Health (NIH), chest x ray is the best test for pneumonia diagnosis. However, reading x ray images can be tricky and requires domain expertise and experience. It would be nice if we can just ask a computer to read the images and tell us the results.
			</p>
			
		</div>
		<div class="row">
			<h1>How to Use?</h1><br>
			<p>Just upload a chest x-ray image and let the machine work!</p>

			
		</div>
		<br>
		<div class="row">
			<button type="button" class="btn btn-dark"><a href="/">Home</a></button>
		</div>
		<br>
		
	</div>
	

	
</body>
</html>